<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 현재 위치를 출발지로 쓰기 위한 포그라운드 위치 권한. 백그라운드 권한은
         Play 심사에서 별도 정당화가 필요하므로 넣지 않는다(GILDLE_APP_RELEASE_PLAN 4단계). -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 산책 중 화면이 꺼져도 추적이 이어지도록 geolocator가 띄우는 포그라운드 서비스(알림 표시).
         Android 14+는 서비스 타입별 권한(FOREGROUND_SERVICE_LOCATION)이 따로 필요하다. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:label="길들"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 카카오 로그인 리다이렉트 처리 — kakao_flutter_sdk_auth가 선언한
             AuthCodeHandlerActivity에 커스텀 스킴 intent-filter를 병합한다
             (activity 자체는 라이브러리 매니페스트가 이미 선언, 여기선 스킴만 추가). -->
        <activity
            android:name="com.kakao.sdk.flutter.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="oauth"
                    android:scheme="kakaocaabb804d994e85dc8e83b7e7b434ff8" />
            </intent-filter>
        </activity>
        <!-- 네이버 지도 SDK — 등록된 패키지명(cloud.suvisdev.gildle)에서만 동작한다.
             값은 dart_defines.json의 NAVER_MAP_CLIENT_ID와 같아야 한다. -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="e630p2wr6p" />
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- url_launcher: 약관·개인정보처리방침 링크를 브라우저로 연다 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>
